.detalles__producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    height: 100vh;
}

.detalles__img{
    max-width: 400px;
    max-height: 300px;
}